@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common Styles */
.heading-primary {
  color: #0d1321;
}
.heading-secondary {
  color: #0d1321b3;
}

.primary-color {
  color: #0d1321;
}

.bg-primary {
  background-color: #0d132105;
}

/* Hero Styles*/
.heading {
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 26px 0 45px 0;
}
.hero-section {
  width: 1020px;
  margin: 0 auto;
  text-align: center;
}
.hero-section h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  margin: 32px 0 24px;
}
.hero-section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  margin-bottom: 32px;
}
.hero-btn button {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  background-color: #0d1321;
  border: none;
  border-radius: 8px;
  padding: 21px 24px;
  cursor: pointer;
}

.main {
  width: 1150px;
  margin: 0 auto;
}

/* Development Styles */
.development {
  width: 1120px;
  margin: 74px auto;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  padding: 80px 100px;
  text-align: center;
}
.development-content h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.development-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.coding {
  padding: 48px;
  border-radius: 16px;
  margin: 48px 0 32px;
  display: flex;
  justify-content: space-between;
}
.coding-left-bg {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.coding-right-bg {
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
.coding-content {
  width: 560px;
  text-align: left;
}
.coding-content h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
}
.coding-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  margin: 16px 0 32px;
}
.dev-btn {
  color: #0d1321;
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0%;
  padding: 12px 20px;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 2px;
  opacity: 0.7;
  cursor: pointer;
}
.coding img {
  width: 275px;
}

/* My Inspiration Styles */
.inspiration {
  width: 1120px;
  margin: 50px auto 75px;
}
.inspiration h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.inspiration p {
  width: 850px;
  margin: 24px auto 48px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.inspiration-video {
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  padding: 32px;
}
.inspiration-video iframe {
  width: 100%;
  height: 550px;
}

/* Current Target Styles */
.target {
  margin: 75px 0 55px;
}
.target-content h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.target-content p {
  width: 850px;
  margin: 24px auto 48px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.target-courses {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.frontend {
  width: 380px;
  padding: 40px;
  text-align: left;
  border-radius: 16px;
}
.frontend h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  margin: 24px 8px;
}
.frontend p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  margin-bottom: 24px;
}
.frontend div a {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.target-courses .html {
  background: rgba(255, 76, 30, 0.05);
}
.target-courses .css {
  background: rgba(0, 76, 232, 0.05);
}
.target-courses .js {
  background: rgba(255, 223, 0, 0.05);
}

/* Support Styles */
.support {
  margin: 55px 0 40px;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../assets/handshake.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 64px 48px;
  border-radius: 16px;
}
.support h2 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
.support p {
  width: 850px;
  margin: 16px auto 40px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.feedback {
  text-align: center;
}
.feedback input:first-child {
  padding: 19px 20px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  width: 548px;
}
.feedback input:first-child:focus {
  outline: none;
}
.feedback input:first-child[placeholder] {
  color: rgba(13, 19, 33, 0.2);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
}
.feedback input:last-child {
  width: 120px;
  padding: 17px 20px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border: 0;
  cursor: pointer;
}
